body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: #f4f4f4;
  color: #333;
}
h2 {
  margin: 1em 0;
}

.container {
  width: 800px;
  height: 1000px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid #ccc;
}

.header {
  padding: 20px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 32px;
}

.header h1 {
  margin: 0;
  font-size: 2.5em;
}

.navbar {
  display: flex;
  justify-content: center;
  background: #333;
  padding: 10px 0;
  font-size: 30px;
}

.navbar a {
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  transition: background 0.3s;
}

.navbar a:hover {
  background: #575757;
}

.navbar a.right {
  margin-left: auto;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #111;
}

.right {
  right: 0;
  background-color: red;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}

.content {
  padding: 20px;
  padding-bottom: 70px;
  margin: 30px;
  margin-bottom: 50px;
  font-size: 20px;
}

footer {
  font-size: 20px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #333;
  color: white;
  text-align: center;
  margin: 0 0 0;
  padding: 30px 0;
  z-index: 1000;
  .link {
    text-decoration: none;
    color: white;
  }
}
